.inline-encrypter-code {
    background-color: transparent;
    display: inline-block;
    width: 6em;
    height: 1em;
    vertical-align: text-top;
    margin-left: 0px;
    margin-top: 0px;
    cursor: pointer;
    color: var(--text-faint);
}

.inline-encrypter-code svg {
    max-width: 100%;
    height: auto;
    display: block;
}

.inline-encrypter-lp-code {
    display: inline-block;
    vertical-align: middle;
}

.inline-encrypter-decrypt-modal textarea {
	width: 100%;
	min-height: 3em;
	resize: none;
}

.inline-encrypter-encrypt-text-modal textarea {
	resize: none;
}
